Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/*.lo
lib/*.o
lib/*.la
*.dll*
*.dylib
*.exe
*.tar.gz
libtool
m4/
tests/.deps/
tests/.libs/
tests/*.log
tests/*.o
tests/*.trs
tests/*_test
tests/Makefile
tests/Makefile.in

# editor temp files
*.sw[nop]
